<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Image Streaming</title>
</head>
<body>
    <img id="imageElement" src="image.jpeg" alt="Live Image">
    <!-- <img src="image.jpeg"/> -->
    <script>
        const image = document.getElementById('imageElement');
        
        function updateImage() {
            const timestamp = new Date().getTime(); // Add timestamp to prevent caching
            if (!image.src.includes('?')) {
                image.src = `${image.src}?${timestamp}`
            } else {
                image.src = image.src.slice(0, image.src.indexOf('?') + 1) + timestamp
            }
        }

        // Update the image every second
        setInterval(updateImage, 400);
    </script>
</body>
</html>
