<%- include('layout.ejs') %>

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Bottani Dashboard</title>
    <!-- <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="../assets/compiled/css/app.css" />
    <link rel="stylesheet" href="../assets/compiled/css/app-dark.css" />
    <link rel="stylesheet" href="../assets/compiled/css/iconly.css" />

    <style>
      .custom-min-height-30px{
          min-height: 30px; /* Adjust the height as needed */
      }

      .custom-min-height{
          min-height: 150px; /* Adjust the height as needed */
      }

      /* #chart-collection{
        width: 100%;
        height: 500px;
        max-width: 100%;
      } */

      
    </style>
  </head>

  <body>

      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>

        <div class="page-header p-3">
          <h3>Dashboard</h3>
        </div>


        <div class="page-content">

          <div class="row" style="min-height: 200px;">
            <div class="col">
              <div class="card p-3 m-1 mb-3 bg-primary border border-primary text-primary" style="min-height: 100px; --bs-bg-opacity: .2;">
                <h5 class="card-title m-0 text-primary">
                  Header
                </h5>
                <hr class="rounded mt-2 mb-2" style="  border-top: 3px solid #3B71CA; border-radius: 2px; --bs-bg-opacity: 1.0"/>
                <div class="card-body p-0">
                  Primary card 
                </div>
              </div>
              <div class="card p-3 m-1 mb-3 bg-warning border border-warning text-warning" style="min-height: 100px; --bs-bg-opacity: .2;">
                <h5 class="card-title m-0 text-warning">
                  Header
                </h5>
                <hr class="rounded mt-2 mb-2" style="  border-top: 3px solid #E4A11B; border-radius: 2px; --bs-bg-opacity: 1.0"/>
                <div class="card-body p-0">
                  Warning card 
                </div>
              </div>
              <div class="card p-3 m-1 mb-3 bg-danger border border-danger text-danger" style="min-height: 100px; --bs-bg-opacity: .2;">
                <h5 class="card-title m-0 text-danger">
                  Header
                </h5>
                <hr class="rounded mt-2 mb-2" style="  border-top: 3px solid #DC4C64; border-radius: 2px; --bs-bg-opacity: 1.0"/>
                <div class="card-body p-0">
                  Danger Card
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card p-3 m-1 mb-3 bg-primary border border-primary text-primary" style="min-height: 100px; --bs-bg-opacity: .2;">
                <h5 class="card-title m-0 text-primary">
                  Header
                </h5>
                <hr class="rounded mt-2 mb-2" style="  border-top: 3px solid #3B71CA; border-radius: 2px; --bs-bg-opacity: 1.0"/>
                <div class="card-body p-0">
                  Primary Card
                </div>
              </div>
              <div class="card p-3 m-1 mb-3 bg-warning border border-warning text-warning" style="min-height: 100px; --bs-bg-opacity: .2;">
                <h5 class="card-title m-0 text-warning">
                  Header
                </h5>
                <hr class="rounded mt-2 mb-2" style="  border-top: 3px solid #E4A11B; border-radius: 2px; --bs-bg-opacity: 1.0"/>
                <div class="card-body p-0">
                  Warning Card
                </div>
              </div>
              <div class="card p-3 m-1 mb-3 bg-danger border border-danger text-danger" style="min-height: 100px; --bs-bg-opacity: .2;">
                <h5 class="card-title m-0 text-danger">
                  Header
                </h5>
                <hr class="rounded mt-2 mb-2" style="  border-top: 3px solid #DC4C64; border-radius: 2px; --bs-bg-opacity: 1.0"/>
                <div class="card-body p-0">
                  Danger Card
                </div>
              </div>
            </div>
          </div>
          



          <!-- <script src="/assets/static/js/firebase-chart-collection.js"></script> -->
          <div class="card">
            <div class="card-header d-flex align-items-center justify-content-center h-100 w-100">
              <h4 class="card-title">Chart Summary</h4>
            </div>
            <div class="row card-body">
              <div id="chart-wrapper" >
                <canvas  id="chart-collection"></canvas>
              </div>
              <div class="col" id="legend-container">a</div>

            </div>
          </div>
          
          <script src="/assets/static/js/firebase-chart-js-collection.js"></script>


          </div>
          
        </section>
      </div>

        
      </div>
    </div>

  </body>
</html>
