<%- include('layout.ejs') %>

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Bottani Dashboard</title>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>


    <link rel="stylesheet" href="../assets/compiled/css/app.css" />
    <link rel="stylesheet" href="../assets/compiled/css/app-dark.css" />
    <link rel="stylesheet" href="../assets/compiled/css/iconly.css" />

    <style>
      .custom-min-height-30px{
          min-height: 30px; /* Adjust the height as needed */
      }

      .custom-min-height{
          min-height: 150px; /* Adjust the height as needed */
      }
    </style>
  </head>

  <body>

      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>



        <div class="page-content">

          <div class="alert alert-primary" role="alert">
            This is a primary alert—check it out!
          </div>
          <div class = "row d-flex align-items-center justify-content-center h-100 w-100">
              <div class = "w-50 h-10 d-inline-block">
                <div id="chartdiv" 
                style="        
                width: 100%;
                height: 500px;
                max-width: 100%;"></div>
              </div>
          </div>

          <script src="/assets/static/js/firebase-chart-collection.js"></script>
          <div class="container">


            <div class="row  ">
              <% for (let i = 0; i < bedengan.length; i++) { %>
                <% if (i % 3 === 0 && i !== 0) { %>
                    </div><div class="row">
                <% } %>
                <div class="col-md-4" style="height:150px; margin-bottom: 50px;">
                    <div class="card p-0 custom-min-height">
                        <h5 class="card-title p-3 m-0 h-20">
                          <%= bedengan[i].name %>
                        </h5>
                        <div class="card-body p-0 h-100">

                            <div class="container-fluid p-2">
                              <div class="row w-100" style="margin:auto" style="width:400px">
                                <% for (let j = 0; j < bedengan[i].plantCount; j++){ %>
                                    <% if (j % 12 === 0 && j !== 0) { %>
                                        </div><div class="row w-100" style="margin:auto">
                                    <% } %>
                                    
                                 
                                    <div id="<%= bedengan[i].name %>-<%=j%>" class="col-md-1 border border-dark rounded bg-secondary " style="height:30px; aspect-ratio:1/1"></div>

                                  
                                    
                                <% } %>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
              <% } %>
            </div>

          <script src="/assets/static/js/plant-watering.js"></script>

          </div>
          
        </section>
      </div>

        
      </div>
    </div>

  </body>
</html>
