<%- include('layout.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Video Streaming with Object Detection</title>
</head>
<script src="/socket.io/socket.io.js"></script>

<div id="main">
    <body>
        <section class="section">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Live Streaming</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="canvasElement"></canvas>
                    </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">

                <div class="d-flex justify-content-center">
                    <div class="card">
                    <div class="d-flex justify-content-center">
                    </div>
                    <div class="card-body">
                        <button id="startButton" class="btn btn-primary">Start Stream</button>
                    </div>
                    </div>
                </div>
        
                <div class="d-flex justify-content-center">
                    <div class="card">
                        <div class="d-flex justify-content-center">
                        </div>
                        <div class="card-body">
                        <button id="stopButton" class="btn btn-primary">Stop Stream</button>
                        </div>
                    </div>
                </div>

            </div>
            
        </section>
    

    <script src="/assets/static/js/show-opencv-camera-handler.js"></script>



    <div class="container " id="button-container">


    <div class="row ">
      <% for (let i = 0; i < bedengan.length; i++) { %>
        <% if (i % 3 === 0 && i !== 0) { %>
            </div><div class="row">
        <% } %>
        <div class="col-md-4" style="height:150px; margin-bottom: 50px;">
            <div class="card p-0 custom-min-height">
                <h5 class="card-title p-3 m-0 h-20">
                  <%= bedengan[i].name %>
                </h5>
                <div class="card-body p-0 h-100">
                    <div class="container-fluid p-2">
                      <div class="row w-100 align-items-center justify-content-center" style="margin:auto" style="width:400px">
                        <% for (let j = 0; j < bedengan[i].plantCount; j++){ %>
                            <% if (j % (Math.ceil(bedengan[i].plantCount/2)) === 0 && j !== 0) { %>
                                </div><div class="row w-100 align-items-center justify-content-center" style="margin:auto">
                            <% } %>
                            
                         
                            <button id="<%= bedengan[i].name %>-<%=j%>" class="btn btn-secondary col-md-1 border border-dark rounded " style="height:30px; aspect-ratio:1/1"></button>
                        <% } %>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
      <% } %>
    </div>
    <script src="/assets/static/js/plant-watering.js"></script>
</body>



</html>

